* { margin: 10; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: "Ariel", Georgia, Serif;
    color: black;
    background-color: lightslategrey;
}

@keyframes drawArc1 {
    0% { transform: rotate(0deg);}
    100%{ transform: rotate(-180deg);  }
}

@keyframes drawArc2 {
    0% { transform: rotate(0deg); }
    100%{ transform: rotate(180deg); }
}

@keyframes color {
    from {background-color: skyblue;}
    to {background-color: black;}
}

@keyframes moove {
    0% {transform: translate(50px, 100px)}
    100% {transform: translate(50px, 400px);}
}




div {
    display: grid;
    grid-template-columns: left;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    text-align: left;
    line-height: 30px;     /* to vertically center */
    font-size: 16px;
    margin: left;          /* to center boxes */
    background: #2701fa;
    -webkit-transition: all 1s ease-in-out; /* Safari */
    transition: all 1s ease-in-out;
}


#border:hover {
	box-shadow: inset 0 0 0 10px black;
	text-shadow: 2px 1px black;
    -webkit-transform: rotateZ(360deg);   /* Safari */
    transform: rotateZ(360deg);
    background: #0717f5;
	
}
#shape:hover {
	border-radius: 50%;
    width: 300px;
	font-size:40px;
    background: #c0f500;
}
#width:hover {
	width:500px;
	letter-spacing: 40px;
    background: #00ff6aee;
}
#skew:hover {
    -webkit-transform: skew(20deg,15deg); /* Safari */
    transform: skew(20deg,15deg);
    background: #f80425;
}
#flip:hover {
	-webkit-transform: rotateX(360deg);  /* Safari */
    transform: rotateX(360deg);
    background: #f4f804;
}
#grow:hover {
	-webkit-transform: scale(1.5);        /* Safari */
    transform: scale(1.5);
    background: #e70b93;
}
#click:active {
    width: 10px;
    height: -250px;
    border-radius: 10%;
    -webkit-transform: rotateZ(-720deg);  /* Safari */
    transform: rotateZ(-720deg); 
    background-color: #0c0c0c
}